.progress.xs data-toggle="tooltip" data-original-title=("#{project.progress}%")
  div class=("progress-bar progress-bar-" + (project.delta < 0 ? "red" : "green")) style=("width:#{project.progress}%") 